<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Log In
    </ion-title>
    <ion-buttons end>
	    <button ion-button  icon-only>
	      <ion-icon name="log-in"></ion-icon>
	    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
   <form  #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
	   <ion-list>
		  <ion-item>
		    <ion-input type="text" placeholder="Username" [(ngModel)]="loginParams.username" required name="username"></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-input type="password" placeholder="Password" [(ngModel)]="loginParams.password" required name="password"></ion-input>
		  </ion-item>
		  <div style="padding:0 1em;margin-top:2em">
			<button ion-button outline block color="secondary" type="submit">
				Go
			</button>
		  </div>
		  <div style="padding:0 1em;margin-top:2em">
			<!--<button ion-button outline block color="danger" (click)="$event.stopPropagation();exitApp()">
				Exit
			</button>
			-->
		  </div>
		  <div style="padding:0 1em;margin:0 auto;margin-top:2em;width:140px">
			<a (click)="navCtrl.push(_forgetPasswordPage)">forgot password?</a>
		  </div>
		</ion-list>
    </form>
</ion-content>