  <ion-menu overlay [content]="mainNav">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <!-- Display the side menu pages if it is production -->
      <ion-list >
        <ion-item menuClose (click)="openHome()">
          <ion-label  >
            All Locations
          </ion-label>
        </ion-item>
        <ion-item menuClose (click)="openUserLocations()">
          <ion-label  >
            My Locations
          </ion-label>
        </ion-item>

        <ion-item menuClose (click)="login()" *ngIf="!auth.user">
          <ion-label  >
            Login
          </ion-label>
        </ion-item>

        <ion-item menuClose (click)="signup()" *ngIf="!auth.user">
          <ion-label  >
            SignUp
          </ion-label>
        </ion-item>

        <ion-item menuClose (click)="logout()" *ngIf="auth.user">
          <ion-label  >
            Logout
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  

  <ion-nav #mainNav [root]="rootPage"></ion-nav>