page-location-permission {
	ion-content div[setting] ion-icon {
		font-size:6em;
	}

	ion-content div[setting] {
		height:100%;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}

	[font-bigger]
	{
		font-size: 1.5em;
	}
}
