<ion-content padding>
	<div setting>
		<ion-note color="dark" text-center padding-horizontal font-bigger text-wrap title>Location permissions are needed to show you places around you</ion-note>
		<ion-item margin-vertical  no-lines text-center>
			<ion-icon name="pin" color="dark"></ion-icon>
		</ion-item>
		<ion-item no-lines text-center>
			<button color="se" (tap)="enableLocation()" text-capitalize outline ion-button large>
				Enable Permission
			</button>
		</ion-item>
	</div>
</ion-content>