<ion-item>

  <ion-row [style.font-size]="'30px'">
    <ion-col  center>
      <button [style.text-transform] ="'initial'" [style.font-size] ="'15px'" [style.padding] ="'15px 10px'" ion-button color="primary">
        Upload
        <input type="file" name="{{name}}" style="width: 100px;opacity: 0;margin-left:-100px">
      </button>
    </ion-col>

    <ion-col [style.max-width]="'40px'" [style.margin-left]="'auto'" [style.text-align]="'center'" center>
      <ion-icon name="trash"  color="danger" (click)="removeFile($event)"></ion-icon>
    </ion-col>
  </ion-row>

</ion-item>






<ion-item *ngIf="_file">

  <ion-row wrap  >
    <ion-col>
      <button [style.text-transform] ="'initial'" ion-button  color="primary"  outline >
          <span [style.max-width]="maxFileNameLength" [style.text-overflow]="'ellipsis'" [style.overflow]="'hidden'">{{_file.name }}</span>
      </button>
    </ion-col>
    <ion-col >
      <button ion-button  clear [style.float]="'right'">
        <audio controls *ngIf=" _file.url" [src]="_file.url">
          <source [src]="_file.url" [type]="_file.content_type || 'audio/mpeg'">
        </audio>
      </button>
    </ion-col>
  </ion-row>

</ion-item>

<ion-item>

  <ion-row [style.font-size]="'30px'">
    <ion-col [style.max-width]="'40px'" center>
      <ion-icon  name="microphone" *ngIf="isRecording==false"  color="primary" (click)="startRecording($event)"></ion-icon>
      <ion-spinner *ngIf="isRecording==true" color="primary"(click)="saveRecording($event)" ></ion-spinner>
    </ion-col>

    <ion-col [style.max-width]="'40px'" [style.margin-left]="'auto'" [style.text-align]="'center'" center>
      <ion-icon name="radio-button-on" color="danger" (click)="deleteRecording($event)"></ion-icon>
    </ion-col>
  </ion-row>

</ion-item>




