<ion-header>
  <ion-navbar color="primary" hideBackButton="true" >
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Welcome to Citi Eeez
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<div style="
	    display: flex;
    	flex-direction: column;
    	height: 100%;
	">
	   <ion-list>
		  <ion-item>

		  	<ion-buttons>
		    	<button ion-button block color="secondary" (click)="navCtrl.setRoot(locationsList)">
		    		View Locations
		    	</button>
		    </ion-buttons>

		  	<ion-buttons>
		    	<button ion-button block color="primary" (click)="navCtrl.push(signUpPage)">
		    		Sign Up
		    	</button>
		    </ion-buttons>

		    <ion-buttons>
		    	<button ion-button block color="secondary" (click)="navCtrl.push(loginPage)">
		    		Login
		    	</button>
		    </ion-buttons>

		  </ion-item>
		</ion-list>
		<div style="flex-grow:1;display:flex">
			<img [src]="landingPage" width="100%" height="100%" style="margin:auto;">
		</div>
	</div>
</ion-content>