<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      {{location?.name}}
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="menuCtrl.toggle()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-item color="danger">
    Area Summary  
    </ion-item>

      <ion-item text-wrap><ion-note>Points of Interest:</ion-note>
        {{location?.num_points}}
      </ion-item>
  </ion-card>

  <ion-card>
    <ion-item color="secondary">
      Description
    </ion-item>

    <ion-item text-wrap>
        {{location?.description}}
    </ion-item>
  </ion-card>

  <ion-list>
    <button *ngIf="auth.user && userlocation && userlocation.id==location.id" (click)="goToUserLocation(location)" ion-button block>
      Tour {{location?.name}}
    </button>

    <button *ngIf="auth.user && !userlocation" ion-button block (click)="buyConfirmation()">
      Buy - CAD {{location?.price}}
    </button>

    <button *ngIf="!auth.user" ion-button block (click)="signInWarning()">
      Tour {{location?.name}}
    </button>
  </ion-list>


</ion-content>