<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      {{appName}}
    </ion-title>

  </ion-navbar>

</ion-header>

<ion-content>
    <ion-list-header>
      Tourist Locations
    </ion-list-header>

  <ion-list *ngIf="locations">
    <ion-item *ngFor="let location of locations" (click)="goToLocation(location)">
      <ion-label [style.opacity]="1">{{location.name}}</ion-label>
      <ion-note item-right>{{location.num_points}} places</ion-note>
      <ion-icon item-right [hidden]="!isUserLocation(location)"  name="checkmark-circle">
      </ion-icon>
    </ion-item>
  </ion-list>

</ion-content>