<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      {{appName}} - {{auth.user ? auth.user.first_name : '' }}
    </ion-title>

    <ion-buttons end>
      <button ion-button >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-list-header>
      <ion-label item-left>Your Locations</ion-label>
    </ion-list-header>

  <ion-list *ngIf="userLocations && auth.user">
    <ion-item *ngFor="let location of userLocations" (click)="goToLocation(location)">
      <ion-label [style.opacity]="1">{{location.name}}</ion-label>
      <ion-note item-right>{{location.num_points}} places</ion-note>
      <ion-icon item-right  name="checkmark-circle">
      </ion-icon>
    </ion-item>
  </ion-list>

</ion-content>