<ion-menu overlay [content]="mapNav" [side]="'right'" [swipeEnabled]="false" id="mapNavSettings">
	<ion-header>
		<ion-toolbar color="primary">
			<ion-title>Settings</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
	<!-- Display the side menu pages if it is production -->
		<ion-list >
			<ion-item >
			  	<ion-label>Tour Types</ion-label>
			    <ion-select item-right [(ngModel)]="selPointType" (ionChange)="filterPoints()"   name="point-type">
			    	<ion-option value="null">All Tours</ion-option>
			    	<ion-option *ngFor="let pointType of pointTypes" [value]="pointType">
			    		{{pointType.name}}
			    	</ion-option>
			  	</ion-select>
			</ion-item>
			<ion-item>
			  <ion-label text-wrap>auto-play</ion-label>
			  <ion-toggle name="auto-play"  [(ngModel)]="autoPlay" item-right></ion-toggle>
			</ion-item>
			<ion-item [hidden]="currentPoint==null || !hasPointType(currentPoint)">
				<audio [autoplay]="autoPlay && hasPointType(currentPoint)" audioPlayer controls  [src]="currentPoint?.audioFile ? currentPoint.audioFile.url : '' ">
		          <source [src]="currentPoint?.audioFile ? currentPoint.audioFile.url : '' " [type]="currentPoint?.audioFile ? (currentPoint.audioFile.content_type  || 'audio/mpeg') : '' ">
		        </audio>
			</ion-item>
			<div radio-group [(ngModel)]="centerOn" (ionChange)="centerMap(true)">
				<ion-item >
				  <ion-label>Me</ion-label>
				  <ion-radio  value="user"></ion-radio>
				</ion-item>
				<ion-item >
				  <ion-label>Location</ion-label>
				  <ion-radio  value="location"></ion-radio>
				</ion-item>
			</div>
		</ion-list>
	</ion-content>

</ion-menu>

<ion-header >
  <ion-navbar color="primary">

    <ion-title>
      {{_location?.name}}{{point ? (' - ' + point.name) : ''}}
    </ion-title>

    <ion-buttons end (click)="menuCtrl.toggle('mapNavSettings')">
    	<button ion-button >
			<ion-icon name="settings"></ion-icon>
		</button>
	</ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content  #mapNav>
	<div id="maptag-points" style="height:100%"></div>
</ion-content>

<audio [autoplay]="true"  controls  [src]="clickedPoint?.audioFile ? clickedPoint.audioFile.url : '' ">
  <source [src]="clickedPoint?.audioFile ? clickedPoint.audioFile.url : '' " [type]="clickedPoint?.audioFile ? (clickedPoint.audioFile.content_type  || 'audio/mpeg') : '' ">
</audio>