<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Sign Up
    </ion-title>
    <ion-buttons end>
	    <button ion-button  icon-only>
	      <ion-icon name="log-in"></ion-icon>
	    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
   <form  #signUpForm="ngForm" (ngSubmit)="signUpSubmit(signUpForm)">
	   <ion-list>
	   	  <ion-item >
			  <ion-label>
			  	User Information
			  </ion-label>
		  	</ion-item>
	   	  <ion-item>
		    <ion-input type="text" placeholder="First Name" [(ngModel)]="signupParams.user.first_name" required name="first_name"></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-input type="text" placeholder="last Name" [(ngModel)]="signupParams.user.last_name" required name="last_name"></ion-input>
		  </ion-item>


		  <ion-item>
		    <ion-input type="text" placeholder="Username" [(ngModel)]="signupParams.user.username" required name="username"></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-input type="email" placeholder="Email" [(ngModel)]="signupParams.user.email" required name="email"></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-input type="password" placeholder="Password" [(ngModel)]="signupParams.user.password" required name="password"></ion-input>
		  </ion-item>
		   <ion-item >
			  <ion-label>
			  	Payment Info
			  </ion-label>
		  	</ion-item>
		  <ion-list>
			  <ion-item >
			  	<ion-label >Card Type</ion-label>
			    <ion-select [(ngModel)]="signupParams.paymentInfo.type"  required   name="card-type">
			    	<ion-option *ngFor="let cardType of cardTypes" [value]="cardType">
			    		{{cardType}}
			    	</ion-option>
			  	</ion-select>
			  </ion-item>

			  <ion-item>
			  	<ion-label>Card Number</ion-label>
			    <ion-input type="number" min="0" placeholder="Card Number" [(ngModel)]="signupParams.paymentInfo.number" required name="card-number">
			    </ion-input>
			  </ion-item>

			 

			  <ion-item>
			  	<ion-label>Expire month</ion-label>
			    <ion-input type="number" min="0" placeholder="Expiry Month" [(ngModel)]="signupParams.paymentInfo.expire_month" min="1" max="12" required name="card-expire_month">
			    </ion-input>
			  </ion-item>

			  <ion-item>
			  	<ion-label>Expire Year</ion-label>
			    <ion-input type="number" min="0" placeholder="Expiry Year" [(ngModel)]="signupParams.paymentInfo.expire_year" maxlength="4" minlength="4" required name="card-expire_year">
			    </ion-input>
			  </ion-item>


			  <!--<ion-item>
			  	<ion-label>cvv</ion-label>
			    <ion-input type="number" min="0" placeholder="cvv" [(ngModel)]="signupParams.paymentInfo.cvv2" required name="card-cvv2">
			    </ion-input>
			  </ion-item>
			  -->

			</ion-list>

		  <div style="padding:0 1em;margin-top:2em">
			<button ion-button outline block color="secondary" type="submit">
				Go
			</button>
		  </div>
		</ion-list>
    </form>
</ion-content>